<!DOCTYPE html>
<html>
<head>
	<title>Color Game</title>
	<link rel="stylesheet" href="Colorgame.css">

</head>
<body>
	<div class="jumbotron" >
		<h2>The Great </h2>
		<h1 id = "guessColor"> RGB (_, _, _)</h1>
		<h2>GUESSING GAME</h2>	

	</div>
	<div class="nav-container">
		<table class="container">
			<tr>
				<td>
					<button id ="newcolor">New Color</button>
				</td>
				<td>
					<span id ="notify"></span>
				</td>
				<td>
					<button id ="level">EASY</button>
					<button id ="level">HARD</button>
				</td>
			</tr>
		</table>
	</div>
		
	<div class="container" id="container">
			<div class="square_cell"></div>
			<div class="square_cell"></div>
			<div class="square_cell"></div>
			<div class="square_cell"></div>
			<div class="square_cell"></div>
			<div class="square_cell"></div>
	</div>

	<script type="text/javascript" src="Colorgame.js"></script>  
  </body>
</body>
</html>