<h1>TO DO LIST:</>

<% for(var i =0; i <input.length; i++) { %>
	<li> <%= input[i] %> </li>
<%}%>

<form method = "POST">
<input type="text" name="name" placeholder = "new items" required>
<button>Submit</button>
</form>